body {
    background-repeat: no-repeat;
    background-color: #f00707;
    background-image: url(./ball.webp);
    color: #f00707;
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
}

strong {
  color: #f0e6e6;
}

p > strong {
  color: #f0e6e6;
}

